*,
*::after,
*::before {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: #ffffff;
}

p {
  font-family: "Manjari", sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button,
textarea {
  border: none;
  outline: none;
  font-family: inherit;
  font-size: inherit;
}

img {
  max-width: 100%;
}

ul,
li {
  list-style: none;
}

h1,
h2,
h3,
h4,
h5 {
  color: #3b4252;
}

p {
  color: #4c566a;
  font-size: 17px;
}
